---
layout: post
date: 2026-02-02 07:59:00-0400
inline: true
related_posts: false
---

Gave a guest lecture on fairness in machine learning and fairness verification for Vanderbilt's Data Science Rights and Responsibilities course.
